*{
	margin:0;
	padding:0;
}
html{
	font-size: 50px;
}

ul{
	list-style: none;
}

a{
	color:#000;
}

.flex{
	display: flex;
}


.fs12{font-size:.24rem;}
.fs13{font-size:.26rem;}
.fs14{font-size:.28rem;}
.fs15{font-size:.30rem;}
.fs16{font-size:.32rem;}
.fs17{font-size:.34rem;}
.fs18{font-size:.36rem;}
.fs19{font-size:.38rem;}
.fs20{font-size:.40rem;}
.fs21{font-size:.42rem;}
.fs22{font-size:.44rem;}
.fs23{font-size:.46rem;}
.fs24{font-size:.48rem;}
.fs25{font-size:.50rem;}